.banner_content{
   position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
    overflow: hidden;
    margin-top: 4%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
    margin-right: auto;
    margin-left: auto;
   
     }
.banner_image{
   background-size:cover; 
   padding-top: 80px;
   padding-bottom: 75px;
   text-align: center;
   color: #f8f8f8;
   margin-bottom: 10px;
   background-image:url('images/background.jpg');
   background-size: cover;
   height:600px;
   width:100%;
}
.thumbnail{
   padding:40px;
   border-style: solid ;
   border-spacing: 50px;
   border-radius: 20px;
   background-color:white;

}
.test1{
   background-color: rgb(235, 235, 235);
   padding:60px;
}
.contact{
   background-color: white;
   margin-left: 400px;
   margin-right: 400px;
   border: solid rgb(128, 128, 128);
   padding-left: 200px;
   padding-top: 100px;
   padding-bottom: 100px;
   margin-top: 20px;
}
.flex-container {
   display: flex;
   justify-content: center;
 }
 
.flex-container > div {
  
   margin: 15px;
   padding: 30px;
   font-size: 30px;
 }
 .foot{
   
    background-color:rgb(204, 203, 203);
 }
 .topnav {
   background-color: rgb(8, 8, 8);
   overflow: hidden;
 }
 
 /* Style the links inside the navigation bar */
 .topnav a {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }
 
 /* Change the color of links on hover */
 .topnav a:hover {
   background-color: #ddd;
   color: black;
 }
 
 /* Add an active class to highlight the current page */
 .topnav a.active {
   background-color: #04AA6D;
   color: white;
 }
 
 /* Hide the link that should open and close the topnav on small screens */
 .topnav .icon {
   display: none;
 }
 .thumbnail1{
    border-style: ridge;
    padding:40px;
    background-color: rgb(191, 156, 216);
    
 }

